.docker-wrapper{
	position: relative;
	.docker-title{
		margin: 0 0 1em 0;
	}
	.sticky-wrapper{
		position: absolute;
	}
	.docker-sidebar{
		width: 280px;
		position: absolute;
		ul{
			padding: 15px;
			lh{
				font-weight: 600;
				padding: 4px;
				font-size: 1.2em;
				margin-bottom: 0px;
				display: block;
			}
			li a{
				padding: 4px;
				display: block;
			}
		} 
		&.sticky{
			float: none; 
			position: fixed; 
			top: 20px; 
			z-index: 6; 
			left: auto;

		}
	}
	.docker-content{
		margin-left: 320px;
	}
}